apiVersion: apps/v1
kind: Deployment
metadata:
  name: zot
  namespace: gitops-squared
  labels:
    app: zot
spec:
  replicas: 1
  selector:
    matchLabels:
      app: zot
  template:
    metadata:
      labels:
        app: zot
    spec:
      containers:
        - name: zot
          image: ghcr.io/project-zot/zot-minimal-linux-amd64:v2.1.14
          ports:
            - containerPort: 5000
          readinessProbe:
            httpGet:
              path: /v2/
              port: 5000
            initialDelaySeconds: 3
            periodSeconds: 5
---
apiVersion: v1
kind: Service
metadata:
  name: zot
  namespace: gitops-squared
spec:
  selector:
    app: zot
  ports:
    - port: 5000
      targetPort: 5000
